---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
const blogs = await getCollection("blogs");
---

<Layout>
  <h2
    class="text-white pt-40 md:w-[80vw] xl:w-[65vw] 2xl:w-[50vw] m-auto my-0 py-0"
  >
    Blog
  </h2>
  <ul class="list-none md:w-[80vw] xl:w-[65vw] 2xl:w-[50vw] m-auto pt-5">
    {
      blogs
        .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
        .map((blog) => {
          return (
            <li class="flex w-full justify-between">
              <a
                class="text-white font-ibm-plex-mono hover:text-orange-300"
                href={`/blogs/${blog.id}`}
              >
                {blog.data.title}
              </a>
              <p class="text-white">{blog.data.date.toDateString()}</p>
            </li>
          );
        })
    }
  </ul>
</Layout>
