---
import Layout from "../layouts/Layout.astro";
import Projects from "../components/Projects.astro";
import LandingHero from "../components/landing/LandingHero";
import JunStudioPopup from "../components/landing/JunStudioPopup";
import ParallaxBackground from "../components/landing/ParallaxBackground";
import VersionNumber from "../components/landing/VersionNumber";
import NowPlayingWidget from "../components/landing/NowPlaying";
---

<Layout title="Hello, world!">
  <ParallaxBackground client:load transition:name="background" />
  <LandingHero client:load />
  <JunStudioPopup client:load />
  <VersionNumber client:load />

  <NowPlayingWidget client:load />

  <div id="projects" class="h-screen">
    <Projects />
  </div>
</Layout>
