---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Projects from "../components/Projects.astro";
import Skills from "../components/Skills.astro";
import SectionTitle from "../components/SectionTitle";
import Header from "../components/Header";
import LandingHero from "../components/landing/LandingHero";
import NewIcons from "../components/landing/NewIcons";

const currentPath = Astro.url.pathname;
---

<Layout title="Hello, world!">
  <Header currentPath={currentPath} />
  <LandingHero client:load />
  <NewIcons client:load />
  <div id="projects" class="h-screen">
    <Projects />
  </div>
</Layout>
