---
import Layout from "../layouts/Layout.astro";
import Projects from "../components/Projects.astro";
import LandingHero from "../components/landing/LandingHero";
import NewIcons from "../components/landing/NewIcons";
import ParallaxBackground from "../components/landing/ParallaxBackground";
---

<Layout title="Hello, world!">
  <ParallaxBackground client:load transition:name="background" />
  <LandingHero client:load />
  <NewIcons client:load />
  <div id="projects" class="h-screen">
    <Projects />
  </div>
</Layout>
