<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Program that uses WebGazer.js</title>
    <script src="https://webgazer.cs.brown.edu/webgazer.js"></script>

    <script>
        /*
         * Simple program that uses WebGazer.js
         *
         * Based on https://webgazer.cs.brown.edu/demo.html by Jeff Huang
         *
         * Must run on a remote server, and access via https not http.
         * Could also download webgazer.js from http://webgazer.cs.brown.edu and put it where above 'script src=' statement will find it.
         */

        function inTarget(data) {
            // Weird offset determined empirically, other dimensions match our HTML
            const xoffset = -200;
            return data && data.x > 500 + xoffset && data.x < 500 + xoffset + 200 && data.y > 300 && data.y < 300 + 200;
        }

        /*
         * Called whenever we get new gaze data
         * data = object containing an x and y key which are the x and y prediction coordinates (no bounds limiting)
         * clock = elapsed time in milliseconds since webgazer.begin() was called
         */
        var lastHit = 0;

        function gaze(data, clock) {
            const delay = 400; // ms

            if (data == null) return;

            if (inTarget(data)) {
                target1.style.color = "red";
                target1.style.background = "black";

                lastHit = clock;
            } else {
                // Time delay is just so the user will notice the color change
                if (clock - lastHit > delay) {
                    target1.style.color = "black";
                    target1.style.background = "white";
                }
            }
        }

        window.onload = function () {
            webgazer.setGazeListener(gaze)
                .showPredictionPoints(true) /* shows a square every 100 milliseconds where the current prediction is */
                .begin();
        };
    </script>
</head>

<body lang="en-US" link="#0000ff" dir="LTR">
    <div>
        <h1 style="color:#C0C0C0" align="right">
            Click on a few locations
