---
const { title, subtitle, hidePic } = Astro.props;
import LinkIcons from "./index/LinkIcons.astro";
import ProfileIcon from "./index/ProfileIcon.astro";
---

<div id="Home">
  <div class="w-[80vw] m-auto pt-14">
    {hidePic ? null : <ProfileIcon />}
    <div>
      <h2>{title}</h2>
    </div>

    <div class="flex flex-row justify-between w-full mt-2">
      <div>
        <p>{subtitle}</p>
      </div>

      {hidePic ? null : <LinkIcons />}
    </div>
  </div>
</div>

<style>
  #fun-content {
    flex-direction: column;
  }

  @media screen and (min-width: 768px) {
    p {
      font-size: medium;
    }

    #description {
      width: 400px;
    }

    #fun-content {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }
  }
</style>
