---
const { title, subtitle, hidePic } = Astro.props;
import LinkIcons from "./index/LinkIcons.astro";
import ProfileIcon from "./index/ProfileIcon.astro";
---

<div id="Home">
  <div class="w-[80vw] m-auto pt-14">
    <div>
      {hidePic ? null : <ProfileIcon />}
    </div>
    <div>
      <h2 class="text-white">{title}</h2>
    </div>

    <div class="flex flex-row justify-between w-full">
      <div>
        <p>{subtitle}</p>
      </div>

      {hidePic ? null : <LinkIcons />}
    </div>
  </div>
</div>
