---
import Icon from "astro-icon";
---

<nav id="navbar">
	<div class="hamburger-icon">
		<Icon name="mdi:hamburger-menu-back" color="var(--dark)" size="35" />
	</div>

	<ul class="menu hidden">
		<li><a href="#Home">Home</a></li>
		<li><a href="#Projects">Projects</a></li>
		<li><a href="#Skills">Skills</a></li>
		<li><a href="#">About Me</a></li>
	</ul>
</nav>

<style>
	nav {
		position: fixed;

		height: 50px;
		width: 50px;
		border-radius: 25px;

		top: 50px;
		right: 25px;
		float: right;
		display: block;
		background-color: var(--secondary-transparent);
		box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.2);
	}

	a {
		background-color: transparent;
		display: block;
		padding-left: 10px;
		padding-right: 10px;
	}

	a:hover {
		color: var(--light);
	}

	a.selected:hover {
		color: var(--dark);
	}

	.menu {
		box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0);
		background-color: transparent;
		list-style: none;
		margin: 0 auto;
		padding: 0;
		text-align: right;
		float: right;
		animation-duration: 0.3s;
		animation-fill-mode: forwards;
	}

	.hidden {
		display: none;
	}

	.menu.show {
		animation-duration: 0.3s;
		animation-fill-mode: forwards;
	}
	.menu li {
		margin: 10px 0px;
	}

	.menu li .selected {
		background-color: var(--secondary-transparent);
		height: 24px;
		border-radius: 10px;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		margin: -3px 0px;
	}

	.hamburger-icon {
		cursor: pointer;
		display: flex;
		height: 50px;
		border-radius: 25px;
		align-items: center;
		justify-content: center;
	}

	@media screen and (min-width: 768px) {
		nav {
			display: flex;
			justify-content: center;
			align-items: center;
			left: 0;
			right: 0;
			width: 45vw;
			height: 50px;
			margin: auto;
			border-radius: 25px;
			max-width: 550px;
		}

		.menu {
			display: flex;
			justify-content: space-evenly;
			align-items: center;
			flex-direction: row;
			width: 100%;
			margin: 0 0;
			padding: 0;
			max-height: 50px;
			animation: none;
		}

		.menu.show {
			display: flex;
			animation: none;
		}
		.menu li {
			padding-top: 0px;
			margin: 0px;
		}

		.hamburger-icon {
			display: none;
		}

		.menu li .selected {
			background-color: var(--light);
			height: 36px;
			border-radius: 18px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	@keyframes openMenu {
		from {
			transform: translateY(-50%);
			opacity: 0;
			display: none;
		}

		to {
			transform: translateY(0);
			opacity: 1;
			display: block;
		}
	}

	@keyframes closeMenu {
		from {
			transform: translateY(0);
			opacity: 1;
			display: block;
		}

		to {
			transform: translateY(-50%);
			opacity: 0;
			display: none;
		}
	}
</style>

<script>
	$(".hamburger-icon").on("click", function () {
		$(".menu").toggleClass("show");
		$(".menu").removeClass("hidden");
		if ($(".menu").hasClass("show")) {
			$(".menu").css("animation-name", "openMenu");
		} else {
			$(".menu").css("animation-name", "closeMenu");
		}
	});

	$("a").on("click", function () {
		$("a").removeClass("selected");
		$(this).addClass("selected");
	});
</script>
