---
import Card from "./Card.astro";
---

<div id="Projects">
	<h2 class="title">My Projects</h2>

	<div id="content">
		<Card
			title="Project One"
			body="A fun foray into the world of astrophysics. Not my best look, to be honest, but it was fun while it lasted."
			href=""
		/>
	</div>
</div>

<style>
	#Projects {
		background-color: var(--tertiary);
		min-height: 90vh;
	}
	#content {
		width: 50vw;
		margin: auto;
		display: flex;
		justify-content: center;
	}

	.title {
		width: 80%;
		text-align: center;
		margin: auto;
		display: block;
	}
</style>
