---
import Card from "./Card.tsx";
---

<div id="Projects">
  <h2 class="title">My Projects</h2>

  <div id="content">
    <Card />
  </div>
</div>

<style>
  #Projects {
    background-color: var(--tertiary);
    min-height: 90vh;
  }
  #content {
    width: 50vw;
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .title {
    padding-top: 150px;
    padding-bottom: 10px;
    width: 80%;
    text-align: center;
    margin: auto;
    display: block;
  }
</style>
