---
import { Icon } from "astro-icon/components";
import Card from "./landing/Card";
import Carousel from "./landing/Carousel";
import SectionTitle from "./SectionTitle";
import { getCollection } from "astro:content";
const projects = await getCollection("projects");
// const projectList = Object.values(projects);
const projectArray = projects
  .sort((a, b) => b.data.publishDate.getTime() - a.data.publishDate.getTime())
  .map((p) => ({ data: p.data, id: p.id }));
---

<div class="min-h-full mt-40">
  <div class="sm:gap-16 lg:gap-28 w-full m-auto">
    <Carousel projects={projectArray} client:load />
  </div>
</div>

<style>
  #content {
    width: 80vw;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    gap: 104px; /* Gap between grid items */
  }

  @media (min-width: 2500px) {
    #content {
      grid-template-columns: repeat(3, 1fr); /* 2 columns */
    }
  }

  .title {
    padding-top: 150px;
    padding-bottom: 10px;
    width: 80%;
    text-align: center;
    margin: auto;
    display: block;
  }
</style>
