---
interface Props {
  date: string;
  title: string;
  organization: string;
}

const { date, title, organization } = Astro.props;
---

<div class="container">
  <div class="description date">{date}</div>
  <div class="details">
    <div class="title">{title} • {organization}</div>
    <div class="description"><slot /></div>
  </div>
</div>

<style>
  .container {
    display: flex;
    align-items: flex-start;
    gap: 76px;
    flex-direction: row;
  }
  .date {
    flex: 3;
  }
  .details {
    display: flex;
    flex-direction: column;
    flex: 7;
    gap: 14px;
  }
  .title {
    font-size: 20px;
  }
  .description {
    font-size: 16px;
    color: #727272;
  }
</style>
