---
interface Props {
  date: string;
  title: string;
  organization: string;
}

const { date, title, organization } = Astro.props;
---

<div class="flex items-start gap-20">
  <div class="text-lg text-white flex-1/4 flex-col gap-4">{date}</div>
  <div class="flex flex-col flex-5/6 gap-x-44">
    <div class="flex w-full text-white justify-between">
      <h2 class="text-inherit text-2xl font-bold m-0">{title}</h2>
      <h2 class="text-inherit text-2xl font-bold m-0 pr-4">{organization}</h2>
    </div>
    <div class="text-amber-50 font-ibm-plex-mono"><slot /></div>
  </div>
</div>

<style>
  .details {
    display: flex;
    flex-direction: column;
    flex: 7;
    gap: 14px;
  }
  .title {
    font-size: 20px;
  }
</style>
