<div id="Skills">
	<div id="content">
		<h2>My Skills</h2>
	</div>
</div>

<style>
	#Skills {
		background-color: rgb(231, 209, 180);
		min-height: 90vh;
	}
	#content {
		width: 50vw;
		margin: auto;
	}
</style>
