---
import { getCollection, render, type CollectionEntry } from "astro:content";
import ProjectLayout from "../../layouts/ProjectLayout.astro";
import type { Project } from "../../content.config";

// Generate routes for each project
export async function getStaticPaths() {
  const projects = await getCollection("projects");
  return projects.map((project: CollectionEntry<"projects">) => ({
    params: { id: project.id },
    props: { project },
  }));
}

const { project } = Astro.props;
const { Content } = await render(project);
---

<ProjectLayout
  title={project.data.title}
  description={project.data.description}
>
  <h1>{project.data.title}</h1>
  <!-- 
  {
    project.data.tags && (
      <div class="tags">
        {project.data.tags.map((tag) => (
          <span class="tag">{tag}</span>
        ))}
      </div>
    )
  } -->

  <Content />
</ProjectLayout>
