---
import Header from "../../components/Header";
import NewIcons from "../../components/landing/NewIcons";
import NewLayout from "../../layouts/NewLayout.astro";
const currentPath = Astro.url.pathname;
---

<NewLayout title="Hello, world!">
  <Header currentPath={currentPath} />
  <div class="flex flex-col h-[calc(100vh-256px)] w-screen justify-center">
    <h1 class="text-white text-8xl font-bold mx-auto">Clarence Yeh</h1>
    <h2 class="text-white text-2xl font-semibold mt-4 mx-auto text-center">
      currently co-founder & cto of <a
        href="https://freebites.org"
        target="_blank"
        class="underline text-inherit font-semibold">Freebites</a
      >
      <br />
      previously software engineer at <a
        href="https://markitai.com/"
        target="_blank"
        class="underline text-inherit font-semibold">Markit AI</a
      >
    </h2>
  </div>
  <NewIcons client:load />
  <div id="projects" class="h-screen"></div>
  <!-- <Projects /> -->
</NewLayout>
