---
import { getCollection, render, type CollectionEntry } from "astro:content";
import ProjectLayout from "../../layouts/ProjectLayout.astro";
import ProjectProse from "../../components/styling/ProjectProse.astro";
import SectionTitle from "../../components/SectionTitle";
const components = { SectionTitle };
// Generate routes for each project
export async function getStaticPaths() {
  const blogs = await getCollection("blogs");
  return blogs.map((blog: CollectionEntry<"blogs">) => ({
    params: { id: blog.id },
    props: { blog },
  }));
}

const { blog } = Astro.props;
const { Content } = await render(blog);
---

<ProjectLayout>
  <ProjectProse>
    <div class="flex justify-between items-start font-ibm-plex-mono">
      <a href="javascript:history.back()" class="hover:text-amber-1"
        >&lt;-- back</a
      >
      <div class="flex flex-col">
        <p class="text-right font-ibm-plex-mono font-extralight mt-0 mb-0">
          {blog.data.title}
        </p>
        <p class="text-right font-ibm-plex-mono mt-0 mb-0">
          {blog.data.date.toLocaleDateString()}
        </p>
      </div>
    </div>

    <Content components={components} />
  </ProjectProse>
</ProjectLayout>
