---

---

<div
  class="max-w-[82vw] sm:max-w-1/2 mx-auto prose
  prose-h1:font-normal prose-h1:text-4xl prose-h1:text-dark prose-h1:mx-auto prose-h1:no-underline
  prose-h2:font-medium prose-h2:text-5xl prose-h2:text-dark prose-h2:mx-auto"
>
  <slot />
</div>
