---
import { Icon } from "astro-icon/components";

interface Props {}

const {} = Astro.props;
---

<!-- Automatically fetches and inlines Material Design Icon's "account" SVG -->
<div class="flex flex-row h-6">
  <a href="https://github.com/lordofmankid" target="_blank">
    <Icon name="mdi:github" size={35} color="var(--grey)" />
  </a>
  <a href="https://www.linkedin.com/in/clarence-yeh-431613222" target="_blank">
    <Icon name="mdi:linkedin" size={35} color="var(--grey)" /></a
  >
  <a><Icon name="ic:outline-email" size={35} color="var(--grey)" /></a>
</div>
