---
import "@fontsource-variable/inter";
import "../styles/global.css";
import ParallaxBackground from "../components/landing/ParallaxBackground";
import BaseLayout from "./BaseLayout.astro";

interface Props {
  title?: string;
}
---

<BaseLayout>
  <ParallaxBackground client:load transition:name="background" />
  <main>
    <slot />
  </main>
  <!-- <style is:global>
      /* Hide scrollbar for webkit browsers */
      body::-webkit-scrollbar {
        display: none;
      }
      /* Hide scrollbar for IE, Edge and Firefox */
      body {
        -ms-overflow-style: none;
        scrollbar-width: none;
      }
    </style> -->
</BaseLayout>
