---
import "@fontsource-variable/inter";
import "../styles/global.css";
import ParallaxBackground from "../components/landing/ParallaxBackground";

interface Props {
  title?: string;
}
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Clarence Yeh's personal website." />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="robots" content="index,follow" />
    <meta name="googlebot" content="index,follow" />
    <title>Clarence Yeh | Software Engineer</title>
  </head>
  <body
    class="font-anonymous-pro w-full m-0 bg-dark-grey scroll-smooth"
    style="overflow-x: hidden;"
  >
    <main>
      <slot />

      <style is:global>
        /* Hide scrollbar for webkit browsers */
        body::-webkit-scrollbar {
          display: none;
        }
        /* Hide scrollbar for IE, Edge and Firefox */
        body {
          -ms-overflow-style: none;
          scrollbar-width: none;
        }
      </style>
    </main>
  </body>
</html>
