---
import "@fontsource-variable/inter";
import "../styles/global.css";
import CarouselHeader from "../components/landing/CarouselHeader";
import BaseLayout from "./BaseLayout.astro";
---

<BaseLayout bodyClass="text-white w-full m-0 bg-dark-grey">
  <div class="mx-auto" style="width: 80vw;">
    <CarouselHeader client:load />
  </div>

  <div class="mx-auto">
    <slot />
    <div class="w-full max-w-[100vw] h-100 overflow-hidden"></div>
  </div>
</BaseLayout>
